---
# Only the main Sass file needs front matter
---
//Import Color
@import "colors";
//Define primary colors
$theme_primary: $theme_2_p;
$theme_secondary: $theme_2_s;
$theme_background: $theme_2_b;
$theme_md: $theme_2_md;
//Import components
@import "theme";
@import "materialize";
@import "menu";
@import "home";
@import "general";
