@charset "UTF-8";


$theme_0_p: #861363;
$theme_1_p: #079c0e;
$theme_2_p: #1012a1;
$theme_3_p: #f13a96;
$theme_4_p: orange;
$theme_5_p: #b33939;
$theme_6_p: #b33939;
$theme_7_p: #b33939;

$theme_0_s: #fdecec;
$theme_1_s: #fdecec;
$theme_2_s: #fdecec;
$theme_3_s: #fdecec;
$theme_4_s: #fdecec;
$theme_5_s: #fdecec;
$theme_6_s: #fdecec;
$theme_7_s: #fdecec;

$theme_0_b: #fdecec;
$theme_1_b: #fdecec;
$theme_2_b: #fdecec;
$theme_3_b: #fdecec;
$theme_4_b: #fdecec;
$theme_5_b: #fdecec;
$theme_6_b: #fdecec;
$theme_7_b: #fdecec;

$theme_0_md: #000000;
$theme_1_md: #000000;
$theme_2_md: #000000;
$theme_3_md: #000000;
$theme_4_md: #000000;
$theme_5_md: #000000;
$theme_6_md: #000000;
$theme_7_md: #000000;

$theme_img_txt: white;






