@charset "UTF-8";


$theme_0_p: #3488cc;
$theme_1_p: #5236ee;
$theme_2_p: #29b835;
$theme_3_p: #e95a2f;
$theme_4_p: #bb9a09;
$theme_5_p: #b33939;
$theme_6_p: #b33939;
$theme_7_p: #b33939;

$theme_0_s: #fdecec;
$theme_1_s: #fdecec;
$theme_2_s: #fdecec;
$theme_3_s: #fdecec;
$theme_4_s: #fdecec;
$theme_5_s: #fdecec;
$theme_6_s: #fdecec;
$theme_7_s: #fdecec;

$theme_0_b: #fdecec;
$theme_1_b: #fdecec;
$theme_2_b: #fdecec;
$theme_3_b: #fdecec;
$theme_4_b: #fdecec;
$theme_5_b: #fdecec;
$theme_6_b: #fdecec;
$theme_7_b: #fdecec;

$theme_0_md: #000000;
$theme_1_md: #000000;
$theme_2_md: #000000;
$theme_3_md: #000000;
$theme_4_md: #000000;
$theme_5_md: #000000;
$theme_6_md: #000000;
$theme_7_md: #000000;

$theme_img_txt: white;






